docs
daprdocs
bin
.vscode
.vs
.github
properties
samples
test
.codecov.yml
.editorconfig
.gitignore
all.sln
CODEOWNERS
CONTRIBUTING.md
global.json
LICENCE
README.md
examples/AspNetCore
examples/Client
examples/.editorconfig
examples/Directory.Build.props
examples/README.md
examples/Actor/ActorClient